!!! XML
!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(charset="UTF-8")
    %title= "Patreon OAuth Example: Sinatra Server"
  %body
    %h1= "Patreon OAuth Example: Sinatra Server"
    #content= yield
